Config
  { font = "xft:Iosevka Nerd Font:size=12:bold:antialias=true"
  , additionalFonts = ["xft:Font Awesome 5 Free Solid:size=12"]
  , allDesktops = False
  , bgColor = "#282a36"
  , fgColor = "#f8f8f2"
  , position = Top
  , sepChar = "%"
  , alignSep = "}{"
  , template =
      " %UnsafeStdinReader% }{ %multicpu% ╱ %memory% ╱ %coretemp% ╱ %battery% ╱ %EDMO% ╱ %time% ╱ %date% "
  , commands =
      [ Run
          MultiCpu
          [ "--template"
          , "<fc=#ff79c6><fn=1></fn></fc> <total>%"
          , "--Low"
          , "10"
          , "--High"
          , "60"
          , "--low"
          , "#f8f8f2"
          , "--normal"
          , "#ffb86c"
          , "--high"
          , "#ff5555"
          ]
          50
      , Run
          Memory
          [ "-t"
          , "<fc=#f1fa8c><fn=1></fn></fc> <usedratio>%"
          , "-H"
          , "80"
          , "-L"
          , "30"
          , "-l"
          , "#f8f8f2"
          , "-n"
          , "#f1fa8c"
          , "-h"
          , "#ff5555"
          ]
          50
      , Run
          CoreTemp
          [ "-t"
          , "<fc=#ffb86c><fn=1></fn></fc> <core0>°"
          , "-L"
          , "40"
          , "-H"
          , "75"
          , "-l"
          , "#8be9fd"
          , "-n"
          , "#f8f8f2"
          , "-h"
          , "#ff5555"
          ]
          50
      , Run
          Battery
          [ "--template"
          , "<fc=#50fa7b><fn=1></fn></fc> <acstatus>"
          , "--Low"
          , "10"
          , "--High"
          , "50"
          , "--low"
          , "#ff5555"
          , "--normal"
          , "#f1fa8c"
          , "--high"
          , "#f8f8f2"
          , "--"
          , "-o"
          , "<left>% (<timeleft>)"
          , "-O"
          , "<left>% <fc=#ffb86c></fc>"
          , "-i"
          , "<left>% <fc=#ffb86c></fc>"
          ]
          50
      , Run Weather "EDMO" ["-t", "<fc=#8be9fd><fn=1></fn></fc> <tempC>°"] 36000
      , Run Date "<fc=#6272a4><fn=1></fn></fc> %a %b %_d" "date" 300
      , Run Date "<fc=#bd93f9><fn=1></fn></fc> %H:%M" "time" 300
      , Run UnsafeStdinReader
      ]
  }
