Config
  { font = "xft:SauceCodePro Nerd Font:size=10:bold:antialias=true"
  , additionalFonts = ["xft:Font Awesome 5 Free Solid:size=10"]
  , allDesktops = True
  , bgColor = "#44475a"
  , fgColor = "#f8f8f2"
  , position = BottomW L 100
  , sepChar = "%"
  , alignSep = "}{"
  , template =
      " %UnsafeStdinReader% }{ %cpu% | %memory% | %coretemp% | %battery% | %date% "
  , commands =
      [ Run
          Cpu
          [ "--template"
          , "<fc=#6272a4><fn=1></fn></fc> <total>%"
          , "--Low"
          , "3"
          , "--High"
          , "50"
          , "--low"
          , "#bbc2cf"
          , "--normal"
          , "#bbc2cf"
          , "--high"
          , "#ff5555"
          ]
          50
      , Run
          Memory
          [ "-t"
          , "<fc=#8be9fd><fn=1></fn></fc> <usedratio>%"
          , "-H"
          , "80"
          , "-L"
          , "10"
          , "-l"
          , "#bbc2cf"
          , "-n"
          , "#bbc2cf"
          , "-h"
          , "#ff5555"
          ]
          50
      , Run Date "<fc=#bd93f9><fn=1></fn></fc> %a %b %_d %H:%M" "date" 300
      , Run
          CoreTemp
          [ "-t"
          , "<fc=#ffb86c><fn=1></fn></fc> <core0>°"
          , "-L"
          , "30"
          , "-H"
          , "75"
          , "-l"
          , "lightblue"
          , "-n"
          , "#bbc2cf"
          , "-h"
          , "#ff5555"
          ]
          50
      , Run
          Battery
          [ "--template"
          , "<fc=#B1DE76><fn=1></fn></fc> <acstatus>"
          , "--Low"
          , "10"
          , "--High"
          , "80"
          , "--low"
          , "#fb4934"
          , "--normal"
          , "#bbc2cf"
          , "--high"
          , "#98be65"
          , "--"
          , "-o"
          , "<left>% (<timeleft>)"
          , "-O"
          , "<left>% <fc=#B1DE76></fc>"
          , "-i"
          , "<left>% <fc=#B1DE76></fc>"
          ]
          50
      , Run UnsafeStdinReader
      ]
  }
